@import "colors";

#shSmith {
	margin-top: 85px;
}

.projects {
	border-top: solid $gray 2px;

	.projectImage {
		max-width: 300px;
	}

	.projectDesc {
		margin-top: 10px;
	}

	a:link {
    	color: $darknavy;
	}

	a:visited {
		color: $6b1405;
	}

	a:hovor {
		color: $6b1405;
	}
}

