@import "colors";

.navbar {
	//background-color: $navbar-banner;
	background-color: transparent !important;
	.navbar-brand {
		.logo {
			display: inline-block;
			width: 50px;
			margin-top: 0px;
    		border-radius: 50%;
		}
	}

	li {
		margin-top: 0px;
		font-size: 1em;
	}
}

footer {
	max-width: 170px;

	.externalBrandImage {
		display: block;
		margin-right: 500px;
		width: 25px;
		margin-left: 45px;
		margin-bottom: 25px;
	}

	#copyright {
		font-size: .5em;
		margin-left: 15px;
		//text-align: right;
	}
}
