@import "colors";

/*
@import "link-mixins";

a { @include links($darknavy, $burnred, blue, teal); 
}
*/

/*
.jumbotron {
	.navbar-brand {
		.logo {
			display: inline-block;
			width: 50px;
			margin-top: 0px;
		}
	}
}
*/

	
	


.navbar {
	background-color: $gray;
	.navbar-brand {
		.logo {
			display: inline-block;
			width: 50px;
			margin-top: 0px;
		}
		}s

	li {
		font-size: 1em;
	}

	li {
		margin-top: 0px;
		margin-right: 12px;
	}
}