@import "colors";

/*
@import "link-mixins";

a { @include links($darknavy, $burnred, blue, teal); 
}
*/

/*
.jumbotron {
	.navbar-brand {
		.logo {
			display: inline-block;
			width: 50px;
			margin-top: 0px;
		}
	}
}
*/

	
	


.navbar {
	background-color: $navbar-banner;
	.navbar-brand {
		.logo {
			display: inline-block;
			width: 50px;
			margin-top: 0px;
    		border-radius: 50%;
		}
	}

	li {
		margin-top: 0px;
		font-size: 1em;
	}
}
