@import "colors";
@import "link-mixins";

.shSmith {
	margin-top: 85px;
	color: $darkborder;
}

img#profilePic {
    display: block;
    width: 250px;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.projects {
	//border-top: solid $darkborder 2px;


	.projectImage {
		max-width: 300px;
	}

	.projectDesc {
		margin-top: 10px;
	}
}

/* Mixin
@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}
*/

/*
@mixin linksColors-lvhaf($link, $visited, $hover, $active, $focus)
a { @include links(orange, blue, yellow, teal); }
*/

a { @include links(teal, $ngClickColor, $plum, teal); 
}

footer {
	font-size: .75em;
}

