@import "colors";
@import "link-mixins";

.shSmith {
	margin-top: 85px;
	color: $teal;
}

img#profilePic {
    display: block;
    width: 225px;
    margin-top: 125px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1px solid $teal;
}

.card {
    border-top: 1px solid $teal;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: $background;
    margin-top: 0px;
    padding-top: 0px;
}

.projects {

    .projectTitle {
    }

	.projectImage {
		//max-width: 300px;
        max-width: 90%;
	}

	.projectDesc {
		margin-top: 10px;
	}
}

#siteTech {
    margin-top: 50px;
}

#techImages {
    margin-top: 10px;
    
    .techImage {
        height: 45px;
        margin-right: 8px;
    }

    margin-bottom: 50px;
}

/*
@mixin linksColors-lvhaf($link, $visited, $hover, $active, $focus)
*/

a { @include links($teal, $ngClickColor, $plum, $teal); 
}

footer {
	font-size: .75em;
}

