@import "colors";
@import "link-mixins";

a { @include links(teal, $ngClickColor, $plum, teal); 
}

.shSmith {
	margin-top: 85px;
	color: $darkborder;
}

.card {
	margin-top: 75px;
}

.modal-body {
	li {
		font-size: .5em;
	}
}