
<div class="container-fluid">

    <nav ng-controller="NavCtrl">
      <!--
      <nav class="navbar navbar-expand-sm navbar-trans navbar-inverse fixed-top">

      <a class="navbar-brand" href="#"><img class="logo" src="/images/wowzagirl.jpg"></a>
      -->
        <!-- <ul class="navbar-nav nav ml-auto"> -->
        <ul class="nav flex-column fixed-top">
          <li><a class="navbar-brand" href="#"><img class="logo" src="/images/wowzagirl.jpg"></a></li>
          <li class="nav-item active">
            <a class="nav-link" href="#!/portfolio">Portfolio
              <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" ng-href="#/smithExp">Experience</a>
            <!--<a ng-href="#/smithExp">Testing</a>-->
          </li>

          <li class="nav-item">
            <a class="nav-link" ng-href="#/smithSmarts">Education</a>
          </li>
        </ul>
    </nav>
  </nav>

  <footer class="fixed-bottom flex-column">
    <a class="externalBrandLinks" href="https://www.linkedin.com/in/smithshnash/" target="_blank">
      <img class="externalBrandImage" src="/images/linkedIn_Squared.png"></a>

      
    <a class="externalBrandLinks" href="https://github.com/SMITHsharon" target="_blank">
      <img class="externalBrandImage" src="/images/GitHub_Image.png"></a>

      <!-- <p id="copyright">&copy; Sharon Smith 2017</p> -->
  </footer>

</div>