
<div class="container-fluid">

    <nav ng-controller="NavCtrl">
      <nav class="navbar navbar-expand-sm navbar-inverse fixed-top">

      <a class="navbar-brand" href="#"><img class="logo" src="/images/wowzagirl.jpg"></a>

        <ul class="navbar-nav nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#!/portfolio">Portfolio
              <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" ng-href="#/smithExp">Experience</a>
            <!--<a ng-href="#/smithExp">Testing</a>-->
          </li>

          <li class="nav-item">
            <a class="nav-link" ng-href="#/smithSmarts">Education</a>
          </li>
        </ul>
    </nav>
  </nav>
</div>