
<div class="container">
  <div class="row">
    <div class="col-md-8 projects">
      <h2 id="shSmithPortfolio" class="shSmith">Sharon Smith Portfolio</h2>
      <p>I've worn many different hats through my professional career. The common theme: problem-solving, teamwork, collaboration. Currently learning full-stack development at Nashville Software School with a focus on Angular, C#, and .NET, I'm excited to now be wearing the Software Developer Hat.</p>
      <p>This feels very much like a coming home for me, coming full circle. Having earned a BS in Mathematics and Computer Science at Vanderbilt University, NSS has given me opportunity to dovetail computer science theory with new skills and current technologies. I'm excited to join the developer community and look forward to creating and collaborating with fellow developers. </p>
    </div>

    
    <div id="tryThisForProfile" class="col-md-4 projects">
      <!-- <img id="profilePic" src="/images/2017.11.11 EC5 cropped.jpg"> -->
    </div>

  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="row">

      <!-- COMMON MEALS APP -->
      <div class="col-md-4 projects">
        <div class="card">
          <h3 class="projectTitle">
              <a href="https://common-meals-app.firebaseapp.com" target="_blank">Common Meals App</a>
          </h3>
          <h5>NSS Front-End Capstone</h5>
          <img class="projectImage" src="/images/Common Meals App on Launch.png">
          <p class="projectDesc">Front-end capstone project: designed for the&nbsp;residents of Germantown Commons to facilitate the scheduling of common meals. Users (residents) can schedule a meal, be&nbsp;assigned to a cook team when scheduling a&nbsp;meal, and sign-up to attend a&nbsp;meal.</p>

          <p><a href="" ng-click="showCommonMeals()">read about the tech++</a></p>
          <!-- toggles techCommonMeals -->
          <span ng-hide="techCommonMeals"></span> 
          <span ng-show="techCommonMeals">
            <p>The app was built using Angular and implements full CRUD. The pages are designed using Boostrap grids and styled using SASS. Technologies include HTML, CSS, SASS, ES6 JavaScript, Bootstrap, AngularJS, and Grunt. Firebase Deploy.</p>
            <a href="https://github.com/SMITHsharon/commonMealsApp" target="_blank">Common Meals App GitHub repo</a>
          </span> <!-- ng-show techCommonMeals -->
        </div> <!-- card -->
      </div>  <!-- CommonMeals col -->


      <!-- NSS BACK-END CAPSTONE APP -->
      <div class="col-md-4 projects">
        <div class="card">
          <h3 class="projectTitle">Nash Freelance Connects</h3>
          <!-- <img class="projectImage" src="/images/\"> -->
          <h5>NSS Back-End Capstone</h5>
          <p class="projectDesc">App designed to facilitate freelance professionals to connect with each other. </p>


          <p><a href="" ng-click="showBackEnd()">read about the tech++</a></p>
          <!-- toggles techBackEnd -->
          <span ng-hide="techBackEnd"></span> 
          <span ng-show="techBackEnd">
            <p>Currently being developed. Designed using C#, ASP.NET Web API, AngularJS, CSS, Bootstrap/Bulma.</p>
          </span> <!-- ng-show techBackEnd -->
        </div> <!-- card -->
      </div> <!-- BackEnd col -->


      <!-- WYSIWYG APP -->
      <div class="col-md-4 projects">
        <div class="card">
          <h3 class="projectTitle">
              <a href="https://smithsharon.github.io/wysiwygJQuery/" target="_blank">WYSIWYG Page</a>
          </h3>
          <h5></h5>
          <img class="projectImage" src="/images/deployedWYSIWYG.png">
          <p class="projectDesc">Simple jQuery application, writing to the DOM. Images for five famous people plus descriptive information for each written to the screen. The user can dynamically edit a&nbsp;selected person's description by clicking on that person's card.</p>

          <p><a href="" ng-click="showWYSIWYG()">read about the tech++</a></p>
          <!-- toggles techWYSIWYG -->
          <span ng-hide="techWYSIWYG"></span> 
          <span ng-show="techWYSIWYG">
              <p>This app was built using HTML, CSS, JavaScript, and jQuery.</p>
              <p>Go <a href="https://smithsharon.github.io/wysiwyg/" target="_blank">here</a>, for the very same app built using only HTML, CSS, and&nbsp;JavaScript (i.e., sans jQuery). GitHub deploy.</p>
              <a href="https://github.com/SMITHsharon/wysiwygJQuery" target="_blank">WYSIWYG Page GitHub repo</a>
          </span> <!-- ng-show techWYSIWYG -->
        </div> <!-- card -->
      </div> <!-- WYSIWYG col -->


      <!-- ADDRESS BOOK APP -->
      <div class="col-md-4 projects">
        <div class="card">
          <h3 class="projectTitle">
              <a href="https://address-book-4e86e.firebaseapp.com/" target="_blank">Address Book</a>
          </h3>
          <h5></h5>
          <img class="projectImage" src="/images/AddBook3 App After Login.png">
          <p class="projectDesc">Simple address book application</p>

          <p><a href="" ng-click="showAddressBook()">read about the tech++</a></p>
          <!-- toggles techAddressBook -->
          <span ng-hide="techAddressBook"></span> 
          <span ng-show="techAddressBook">
              <p>This app was built using HTML, ES6&nbsp;JavaScript, AngularJS, Bootstrap, CSS, SASS, Grunt;  implements CRUD. Uses AngularJS to load "address book" records from Firebase JSON file and output the data to the DOM. Initially built using jQuery; then refactored using AngularJS, and added User Auth, Registration, Login, Logout. Firebase deploy.</p>
              <a href="https://github.com/SMITHsharon/addressBook" target="_blank">Address Book GitHub repo</a>
          </span> <!-- ng-show techAddressBook -->
        </div> <!-- card -->
      </div> <!-- Address Book col -->


      <!-- TO BE ADDED... -->
      <div class="col-md-4 projects">
        <div class="card">
          <h3 class="projectTitle">
              Apps To Be Added
          </h3>
          <h5></h5>
          
          <p class="projectDesc">Apps to be added include</p>
          <ul>
            <li><strong>WeatherAppAPI</strong><br />App gives the user the weather forecast for the requested zip code</li>
            <li><strong>Pinsync-Fastenation</strong><br />Group project to clone Pinterest</li>
            <li><strong>Codémon</strong><br />App created at the Fall 2017 NSS-Alumni Hackathon, a game to teach simple html and css</li>
          </ul>

          <!--
          <p><a href="" ng-click="showAddressBook()">read about the tech++</a></p>
          -->
          <!-- toggles techAddressBook -->
          <!--
          <span ng-hide="techAddressBook"></span> 
          <span ng-show="techAddressBook">
              <p>This app was built using HTML, ES6&nbsp;JavaScript, AngularJS, Bootstrap, CSS, SASS, Grunt;  implements CRUD. Uses AngularJS to load "address book" records from Firebase JSON file and output the data to the DOM. Initially built using jQuery; then refactored using AngularJS, and added User Auth, Registration, Login, Logout. Firebase deploy.</p>
              <a href="https://github.com/SMITHsharon/addressBook" target="_blank">Address Book GitHub repo</a>
          -->
          </span> <!-- ng-show techAddressBook -->
        </div> <!-- card -->
      </div> <!-- Address Book col -->

    </div> <!-- row -->
  </div> <!-- card deck -->

  <row>
    <div id="siteTech">
      <p><a href="" ng-click="showThisSite()">The tech for this site</a>
        <!-- toggles techWYSIWYG -->
        <span ng-hide="techThisSite"></span> 
        <span ng-show="techThisSite">
             ... was built using HTML, CSS, SASS, ES6 JavaScript, AngularJS, Bootstrap, and Grunt. 
        </span> <!-- ng-show techThisSite -->
        </p>
    </div>
  </row> <!-- row -->


  <!-- tech images -->
  <div id="techImages">
    <hr>
    <img class="techImage" src="/images/JavaScript_Image.png">
    <img class="techImage" src="/images/HTML_Logo.png">
    <img class="techImage" src="/images/CSS_Image.png">
    <img class="techImage" src="/images/jquery_image.gif">
    <img class="techImage" src="/images/Angular_Icon.svg">
    <img class="techImage" src="/images/Bootstrap_Stack.png">
    <img class="techImage" src="/images/SASS_Stack.png">
    <img class="techImage" src="/images/Bower_Image.png">
    <img class="techImage" src="/images/npm.png">
    <img class="techImage" src="/images/Grunt_Image.png">
    <img class="techImage" src="/images/JSON_Image.png">
    <img class="techImage" src="/images/Firebase_Image.png">
    <img class="techImage" src="/images/vslogo.png">
    <img class="techImage" src="/images/cSharp_Image.png">
    <img class="techImage" src="/images/SQL_Image.png">
    <img class="techImage" src="/images/mySQL_Image.png">
    <img class="techImage" src="/images/LINQ_Image.jpeg">
    <img class="techImage" src="/images/ASPNETMVC_Image.png">
    <img class="techImage" src="/images/Octocat.png">
  </div>

</div> <!-- /container -->
