<!-- Main jumbotron for a primary marketing message or call to action -->
    <!--
    <div class="jumbotron">
    -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 projects">
            <h1 class="shSmith">Sharon Smith Portfolio</h1>
            <p>I've worn many different hats through my professional career. The common theme: problem-solving, teamwork, collaboration. Currently learning full-stack development at Nashville Software School with a focus on Angular, C#, and .NET, I'm excited to now be wearing the Software Developer Hat.</p>
            <p>This feels very much like a coming home for me, coming full circle. Having earned a BS in Mathematics and Computer Science at Vanderbilt University, NSS has given me opportunity to dovetail computer science theory with new skills and current technologies. I'm excited to join the developer community and look forward to creating and collaborating with fellow developers. </p>
          </div>

          <div class="col-md-4 projects">
            <img id="profilePic" src="/images/wowzagirl.jpg">
          </div>
        </div>
      </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 projects">
          <h3>
              <a href="https://common-meals-app.firebaseapp.com" target="_blank">Common Meals App</a>
          </h3>
          <h5>NSS Front-End Capstone</h5>
          <img class="projectImage" src="/images/Common Meals App on Launch.png">
          <p class="projectDesc">Front-end capstone project: designed for the residents of Germantown Commons to facilitate the scheduling of common meals. Users (residents) can schedule a meal, be assigned to a cook team when scheduling a meal, and sign-up to attend a meal.</p>

          <p><a href="" ng-click="showSkills()">skills++</a></p>
          <div ng-show="skills">
            <p>The app was built using Angular and implements full CRUD. The pages are designed using Boostrap grids and styled using SASS. Technologies include HTML, CSS, SASS, JavaScript, ES6, Bootstrap, Angular, and Grunt.</p>
          </div>

        </div> <!-- projects col -->

        <div class="col-md-4 projects">
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4 projects">
          <h3>Heading</h3>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr><footer>
        <p>&copy; Sharon Smith 2017</p>
      </footer>
    </div> <!-- /container -->