<div class="container">
  <h1 class="shSmith">shSmith Experience</h1>
  <p>I've worn many different <a href="" ng-click="showHats()">hats</a> through my professional career.
  <br />The common theme: problem-solving, teamwork, collaboration. </p>

  <!-- toggles showHats -->
  <span ng-hide="expHats"></span> 
  <span ng-show="expHats">
    <ul>
      <li>Apprentice Software Developer, Nashville Software School</li>
      <li>Founding Member, Germantown Commons of Tennessee</li>
      <li>High School Mathematics Teacher, Martin Luther King Academic Magnet High School</li>
      <li>Adjunct Mathematics Instructor, Nashville State Community College</li>
      <li>Administrative Assistant, Nashville Organized for Action and Hope (NOAH)</li>
      <li>Free-Lance Technical Writer</li>
      <li>Summer Intern, Data Center, HCA Healthcare</li>
      <li>Administrative Assistant, HCA Healthcare</li>
    </ul>
  </span><!-- ng-show expHats -->
  
</div> <!-- container -->
    
<!-- card border colors 
  border-dark = black
  border-primary = blue
  border-secondary = black? dark grey?
  border-danger = red
  border-info = green
-->

<div class="container">
  <div class="card-deck">
    <div class="row">

      <div class="col-md-4 projects">
        <div class="card border border-info">

          <div class="card-body">
            <h5 class="card-title"><strong>Apprentice Software Developer</strong>
              <br /><a href="http://nashvillesoftwareschool.com/" target="_blank">Nashville Software School</a>
            </h5>
            <p class="card-text">One year intensive software bootcamp emphasizing full-stack development and technologies including JavaScript, jQuery, AngularJS, and C#. Developed and deployed individual and group apps and interactive software focusing on industry best practices.</p>

            <!-- skills MODAL -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#nssLong">read about my skills++</button>

            <div class="modal fade" id="nssLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">NSS Experience</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>

                  <div class="modal-body">
                    <ul>
                      <li>Applied OOP fundamentals and SOLID principles through daily group and individual projects</li>
                      <li>Created single page applications in JavaScript using the Angular framework as well as HTML5, CSS/SASS, jQuery, and Bootstrap</li>
                      <li>Utilized JS tools such as Bower, NPM, and Grunt to manage front-end projects</li>
                      <li>Managed source code and version control with Git/GitHub</li>
                      <li>Project management/tracking with Trello and GitHub Projects & Issue Tracking</li>
                      <li>JavaScript fundamentals leveraging DRY, modular, readable code and reusable components</li>
                      <li>Styled applications with CSS Framework Bootstrap, and wrote custom styles with SASS</li>
                      <li>Deployed applications through Firebase and GitHub Pages</li>
                      <li>Leveraged VMware for virtualizing a Windows environment on Mac to utilize Visual Studio 2017 IDE</li>
                      <li>Designed and modeled complex data structures using ERDs</li>
                      <li>Created and modified database design/content using Firebase, SQL, ADO.NET, and Entity Framework with migrations</li>
                      <li>Retrieved data from SQL databases by performing SQL and LINQ queries</li>
                      <li>Produced server-side APIs using ASP.NET Web API</li>
                      <li>Created server-generated web applications with ASP.NET MVC</li>
                      <li>Leveraged Razor for creating and editing MVC applications</li>
                      <li>Performed test-driven-development/unit testing</li>
                      <li>Managed group projects following Scrum processes</li>
                    </ul>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>

                </div> <!-- modal-content -->
              </div> <!-- modal-dialog -->
            </div> <!-- modal fade -->
          
          </div> <!-- NSS card-body -->
        </div> <!--card -->
      </div> <!-- col -->


      <div class="col-md-4 projects">
        <div class="card border border-info">

          <div class="card-body">
            <h5 class="card-title"><strong>Founding Member</strong>
              <br /><a href="http://www.germantowncohousing.com/" target="_blank">Germantown Commons of&nbsp;Tennessee</a>
            </h5>
            <p>I am a founding member of the first successfully-built cohousing community in Tennessee. Cohousing communities are innovative and intentional communities that require out-of-the-box visioning, financing, and management. Acting as developer for the project, our LLC worked directly with our architect on the site design, with the bank on securing the $5,000,000 construction loan, and with our builder through the entire construction and close-out phase of the 25-condo and common property project.</p>

            <!-- skills MODAL -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#gctLong">read about my skills++</button>

            <div class="modal fade" id="gctLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Germantown Commons Experience</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <p>I have held numerous positions for this complex project through the years, including serving on:
                      <ul>
                        <li>LLC Managing Board</li>
                        <li>HOA Board</li>
                        <li>Finance and Legal Committee</li>
                        <li>Process Committee</li>
                        <li>Steering Committee</li>
                        <li>Membership and Marketing Committee</li>
                        <li>... and others</li>
                      </ul>
                    </p>

                    <p>In addition to advising and contributing to decision-making as a project team member and community member on every level, my particular contributions include:</p>

                    <ul>
                      <li>Maintained community website during our marketing phase</li>
                      <li>Collaborating on drafting and tracking multiple committee budgets and the capital reserve budget</li>
                      <li>Keeping financial records and processing payables</li>
                      <li>Completing lender questionnaires for prospective buyers</li>
                      <li>Facilitating FHA and FANNIE MAE certification</li>
                      <li>Completing and filing HOA tax returns</li>
                      <li>Collaborating on the drafting of finance and legal community policies</li>
                      <li>Collaborating on revising our Bylaws</li>
                    </ul>

                    <p>I currently serve as Treasurer of Germantown Commons HOA and on the Managing Board of the LLC. </p>
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>

                </div> <!-- modal-content -->
              </div> <!-- modal-dialog -->
            </div> <!-- modal fade -->
            
          </div> <!-- GCT card-body -->
        </div> <!--card -->
      </div> <!-- col -->


      <div class="col-md-4 projects">
        <div class="card border border-info">

          <div class="card-body">
            <h5 class="card-title"><strong>Administrative Assistant</strong>
              <br /><a href="http://www.noahtn.org/" target="_blank">Nashville Organized for Action and Hope (NOAH)</a>
            </h5>
            <p>NOAH is a faith-led coalition that is multi-racial and interdenominational comprised of congregations, community organizations, and labor unions that work to give voice to traditionally marginalized people. NOAH engages ordinary people in the political and economic decisions affecting their lives, acting as a unified voice for the faith and justice community to act on its values in the public arena. NOAH's key focus issues are: affordable housing, economic equity, and criminal justice.</p>

            <!-- skills MODAL -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalLong">read about my skills++</button>

            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">NOAH Experience</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <p>NOAH uses NationBuilder, a Ruby on Rails application, for managing:</p>
                    <ul>
                      <li>Front-end website</li>
                      <li>Back-end SQL database of supporters and member organizations</li>
                      <li>Supporter donations</li>
                      <li>Targeted emails</li>
                      <li>Social media campaigns</li>
                    </ul>
                    <p>My NationBuilder work includes:</p>
                    <ul>
                      <li>Working on the website within the NationBuilder platform, to improve the structure, styling and formatting</li>
                      <li>Maintaining and cleaning database content</li>
                      <li>Drafting and sending targeted eblasts</li>
                    </ul>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>

                </div> <!-- modal-content -->
              </div> <!-- modal-dialog -->
            </div> <!-- modal fade -->
          
          </div> <!-- GCT card-body -->
        </div> <!--card -->
      </div> <!-- col -->

    </div> <!-- row -->
  </div> <!-- card-deck -->
</div> <!-- container -->
    

<div class="container">
  <p></p>
  <div class="card-deck">
    <div class="row">


      <div class="col-md-4 projects">
        <div class="card border border-info">
          <div class="card-body">

            <h5 class="card-title"><strong>Mathematics Teacher</strong>
            <br />MNPS / Martin Luther King Academic Magnet High School</h5>
            <p>MLK's mission is to provide a rigorous and respectful academic environment emphasizing science and mathematics that prepares all students for successful post-secondary study and a productive, purposeful life. Founded in 1986, MLK is the only school within MNPS that houses grades 7 through 12. In 2014, MLK was recognized by the U.S. Department of Education as a Blue Ribbon School, a distinction for high academic achievement that was awarded to just 340 schools across the country.</p>

            <!-- skills MODAL -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#mlkLong">read about my skills++</button>

            <div class="modal fade" id="mlkLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">MLK Experience</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <ul>
                      <li> Taught high school mathematics, all honors level courses, and (one year) AP Computer Science course</li>
                      <li>Math students routinely scored in the top percentile in the State, including mathematics scores on the ACT</li>
                      <li>All AP Computer Science students who sat for the end-of-year APCS Exam scored a 3, 4 or 5 (on a 1-5 scale). Many of those students pursued Computer Science or related majors at university.</li>
                      <li>Collaborated with math colleagues on curriculum development and vertical alignment of course content</li>
                      <li>Routinely exceeded State standards</li>
                      <li>National Board Certified Teacher, 2010</li>
                    </ul>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>

                </div> <!-- modal-content -->
              </div> <!-- modal-dialog -->
            </div> <!-- modal fade -->
          
          </div> <!-- MLK card-body -->
        </div> <!--card -->
      </div> <!-- col -->


      <div class="col-md-4 projects">
        <div class="card border border-info">

          <div class="card-body">
            <h5 class="card-title"><strong>Free-Lance Technical Writer</strong></h5>
            <p>Worked both solitary and collaborated on teams with other writers and graphic designers to write and edit corporate policy and procedure manuals, training manuals and materials, and software and hardware user guides.</p>

            <!-- skills MODAL -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#techWriteLong">read about my skills++</button>

            <div class="modal fade" id="techWriteLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Technical Writing Experience</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="modal-body">
                    <ul>
                      <li>Performed subject matter expert interviews to obtain source material</li>
                      <li>Obtained and incorporated client feedback in revision cycles</li>
                      <li>Worked as proofreader and editor on team projects</li>
                      <li>Completed projects for:
                        <br />PRIMUS
                        <br />Caterpillar Financial
                        <br />HCA Healthcare
                        <br />HealthTrust
                        <br />Quorum
                        <br />NationsBank
                        <br />Bank of America
                        <br />Bright Horizons
                        <br />... and more
                    </ul>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>

                </div> <!-- modal-content -->
              </div> <!-- modal-dialog -->
            </div> <!-- modal fade -->
          
          </div> <!-- Tech Writer card-body -->
        </div> <!--card -->
      </div> <!-- col -->

    </div> <!-- row -->
  </div> <!-- card-deck -->
</div> <!-- container -->

<div class="container">
    <hr>
    <footer>
      <p>&copy; Sharon Smith 2017</p>
    </footer>
</div>

