<div class="container">
  <h2 class="shSmith">shSmith Education</h2>

  <div>
  
    <ul>
      <li>
        <h5><a href="http://nashvillesoftwareschool.com/" target="_blank">Nashville Software School</a>
        </h5>

        <p><a href="" ng-click="showAboutNSS()">About NSS</a></p>

        <!-- toggles showNSSDesc -->
        <span ng-hide="showNSSDesc"></span> 
        <span ng-show="showNSSDesc">
          <p>Nashville Software School is a Tennessee non-profit corporation whose mission is to expand the technology workforce in middle Tennessee by providing motivated individuals with access to a career in software development through training, mentorship and apprenticeship. NSS&nbsp;provides intensive training, mentorship and apprenticeship in order to prepare people with limited or no previous technical training or&nbsp;experience for an entry level software developer job creating web sites, applications and/or mobile apps.</p>
        </span>
        <p>I completed one year intensive software bootcamp emphasizing full-stack development and technologies including JavaScript, jQuery, AngularJS, and C#. Developed and deployed individual and group apps and interactive software emphasizing industry best practices.</p>
      </li>

      <li>
        <h5><a href="https://www.vanderbilt.edu/" target="_blank">Vanderbilt University</a>
        </h5>
        <p><strong>B.S., Computer Science and Mathematics</strong>
          <br />Summa Cum Laude
          <br />Member, Tau Beta Pi
          <br />Wilson L. and Nellie Pyle Miser (Mathematics) Award from faculty, School of Engineering</p>
      </li>

      <li>
        <h5><a href="http://www.tnstate.edu/" target="_blank">Tennessee State University</a>
        </h5>
        <p><strong>M.Ed., Education, Curriculum & Instruction</strong></p>
      </li>
      
    </ul>
  </div>
</div>
