<div class="container">
  <h1 id="shSmith">Sharon Smith Experience</h1>
  <p>I've worn many different hats through my professional career, including:</p>
  <ul>
    <li>Apprentice Software Developer, Nashville Software School
    <li>Founding Member, Germantown Commons of Tennessee</li>
    <li>High School Mathematics Teacher, Martin Luther King Academic Magnet High School</li>
    <li>Adjunct Mathematics Instructor, Nashville State Community College
    <li>Administrative Assistant, Nashville Organized for Action and Hope (NOAH)</li>
    <li>Free-Lance Technical Writer</li>
  </ul>
  <p>The common theme: problem-solving, teamwork, collaboration. </p>
        <!--
        <p><a class="btn btn-default btn-sm" href="#" role="button">Learn more &raquo;</a></p>
        -->
</div>
    <!--
    </div>
    -->

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4 projects">
          <h5>Apprentice Software Developer</h5>
          <h5><a href="http://nashvillesoftwareschool.com/" target="_blank">Nashville Software School</h5></a>
          <p>One year intensive software bootcamp emphasizing full-stack development and technologies including JavaScript, jQuery, AngularJS, and C#. Developed and deployed individual and group apps and interactive software focusing on industry best practices.</p>
          <p>
          
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          
        </div>

        <div class="col-md-4 projects">
          <h5>Founding Member</h5>
          <h5>Germantown Commons of Tennesseer</h5>
          <p>I am a founding member of the first successfully-built cohousing community in Tennessee. Cohousing communities are innovative and intentional communities that require out-of-the-box visioning, financing, and management. Acting as developer for the project, our LLC worked directly with our architect on the site design, with the bank on securing the $5,000,000 construction loan, and with our builder through the entire construction and close-out phase of the 25-condo and common property project.</p>
          <p>I have held numerous positions for this complex project through the years, including serving on the LLC Managing Board, HOA Board, Finance and Legal Committee, Process Committee, Steering Committee, Membership and Marketing Committee, and others.</p>
          <p>In addition to advising and contributing to decision-making as a project team member and community member on every level, my particular contributions include:...</p>
          
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        
        </div>
        <div class="col-md-4 projects">
          <h5>Administrative Assistant</h5>
          <h5>Nashville Organized for Action and Hope (NOAH)</h5>
          <p>Nashville Organized for Action and Hope (NOAH) is a faith-led coalition that is multi-racial and interdenominational comprised of congregations, community organizations, and labor unions that work to give voice to traditionally marginalized people. NOAH engages ordinary people in the political and economic decisions affecting their lives, acting as a unified voice for the faith and justice community to act on its values in the public arena. NOAH's key focus issues are: affordable housing, economic equity, and criminal justice.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr><footer>
        <p>&copy; Sharon Smith 2017</p>
      </footer>
    </div> <!-- /container -->