/*
@import "link-mixins";

a { @include links($darknavy, $burnred, blue, teal); 
}
*/
/*
.jumbotron {
	.navbar-brand {
		.logo {
			display: inline-block;
			width: 50px;
			margin-top: 0px;
		}
	}
}
*/
.navbar {
  background-color: #81A3A7; }
  .navbar .navbar-brand .logo {
    display: inline-block;
    width: 50px;
    margin-top: 0px; }
  .navbar s
li {
    font-size: 1em; }
  .navbar li {
    margin-top: 0px;
    margin-right: 12px; }

.shSmith {
  margin-top: 85px;
  color: #585A56; }

.projects {
  border-top: solid #585A56 2px; }
  .projects .projectImage {
    max-width: 300px; }
  .projects .projectDesc {
    margin-top: 10px; }

/* Mixin
@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}
*/
/*
@mixin linksColors-lvhaf($link, $visited, $hover, $active, $focus)
a { @include links(orange, blue, yellow, teal); }
*/
a {
  color: teal; }
  a:visited {
    color: #BE3B45; }
  a:hover {
    color: #5C3D46; }
  a:active, a:focus {
    color: teal; }

footer {
  font-size: .75em; }

body {
  background-color: #C2D3DA;
  /* from bootstraps custom jumbotron.css file */
  /* padding-top: 2rem; */ }
